doctype html 
html(lang='zh-Hant-TW')
    head 
        title Langing Page
    body 
        h1 Welcome to localhost:3000
        p 你目前可以連線到
            ul
                li localhost:3000/getData
                li localhost:3000/sum.html