/* ====================== base element style ====================== */
* {
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif; 
}

#welcome-message, #content, #button {
    text-align: center;
}

/* ====================== navigation base style ====================== */
nav {
    background-color: #E0E0E0;
    width: 100%;
    display: flex;
    align-items: center;
}

#brand_logo_and_name {
    margin-left: 20px;
}

#menu, nav > div > ul {
    display: flex;
    flex-wrap: wrap;
}

nav > div > ul > li, #drop-down-menu {
    margin: 0 20px 0 0;
}

/* ====================== welcome-message section base style ====================== */
#welcome-message {
    background-color: #84C1FF;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ====================== content section base style ====================== */
.container {
    background-color: #0072E3;
    border-radius: 5px;
    margin: 5px;
    height: 100px;
}

#content {
    margin: 0 auto;
    width: 100%;
}

/* ====================== button base style ====================== */
#button {
    margin-top: 20px;
}

input {
    border: 0;
    border-radius: 0.25rem;
    height: 35px;
    background-color: #FF95CA;
}

input[type='button']:hover {
  background-color: #FF60AF;
  border: solid;
  transition: background-color 1s;
}

/* ====================== media query ====================== */
@media screen and (max-width: 500px), 
screen and (max-width: 850px) and (orientation: landscape) {
    nav > div > ul { display: none; }
    nav { justify-content: space-between; }
}

@media screen and (min-width: 500px) and (max-width: 800px) {
    nav > div > ul { display: none; }
    nav { justify-content: space-between; }
    #content-text { 
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;     
    }
    .row { display: flex; }
    .container { flex: 1; }
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
    #drop-down-menu { display: none;}
    nav { justify-content: space-between; }
    #content-text { 
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;     
    }
    .row { display: flex; }
    .container { flex: 1; }
}

@media screen and (min-width: 1200px) {
    #drop-down-menu { display: none;}
    nav { justify-content: space-between; }
    #content { width: 1200px; }
    #content-text { 
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;     
    }
    .row { display: flex; }
    .container { flex: 1; }
}