/* ====================== base element style ====================== */
* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#welcome-message, #content, #button {
    text-align: center;
}

/* ====================== navigation base style ====================== */
nav {
    background-color: #E0E0E0;
    width: 100%;
    display: flex;
}

h3 {
    margin-top: 0;
}

ul {
    display: flex;
}

/* ====================== welcome-message section base style ====================== */
#welcome-message {
    background-color: #84C1FF;
    height: 200px;
    margin: 0 auto;
}

h1 {
    margin-top: 0;
}

/* ====================== content section base style ====================== */
#content-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container {
    background-color: #0072E3;
    border-radius: 5px;
    border: solid;
    margin: 20px;
    height: 50px;
}

/* ====================== button base style ====================== */
input {
    border: 0;
    border-radius: 0.25rem;
    height: 35px;
    background-color: #f1c40f;
}

input[type='button']:hover {
  background-color: orange;
  border: solid;
  transition: background-color 1s;
}

/* ====================== media query ====================== */
@media screen {
    
}